*{
	margin:0;
	padding:0;
}
body{
	background-image:linear-gradient(#5D001E, #9A1750);
	min-height:100vh;
		display:grid;
	justify-content:center;
	align-content:center;

}

.container{
	display:grid;
	justify-content:center;
	align-content:center;
	grid-template-columns: repeat(4,60px);
	grid-template-rows: minmax(120px auto) repeat(5, 200px);
	
	border:5px 5px black;
	height:72vh;
	/**width:50vh;**/
	border:5px solid #1e1f21;
	background-color: #2b2d2f;
	padding:10px;

}

button{
	outline:none;
	border:1px solid #FEFEFA;
	cursor:pointer;
	font-size:2rem;
	background-color:#AAB1AB;
	font-family:sans-serifS;
	margin:4px 2px;
	border-radius:3px;
	height:50px;
	width:50px;
}
button:hover{
	background-color:white;

}
.screen{
	grid-column:1/-1;
	background-color: #f0f0f0;
	color:#1e1f21;
	align-content:right;
	display:flex;
	flex-direction:column;
	align-items:flex-end;
	justify-content:space-around;
	padding:10px;
	margin:10px 0px 10px 0px;
	height:80px;
	font-size:2rem;
}
.top-screen{
	font-size:1.7rem;
}

button.c{
	display:flex;
	align-items:center;
	justify-content: center;
	color:#900603;
	text-transform:uppercase;

}
button.equals{
	color:#03ac13;
}
.secret-button{
	visibility:hidden;
}


