*{
	margin:0;
	padding:0;
}
body{
	background-image:linear-gradient(#5D001E, #9A1750);
	min-height:100vh;
		display:grid;
	justify-content:center;
	align-content:center;

}

.container{
	display:grid;
	justify-content:center;
	align-content:center;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px auto) repeat(5, 200px);
	
	border:5px 5px black;
	height:80vh;
	/**width:50vh;**/
	border:5px solid black;
	background-color: #2b2d2f;
	padding:10px;

}

button{
	outline:none;
	border:1px solid white;
	cursor:pointer;
	font-size:2rem;
	background-color:#d3d3d3;
	font-family:sans-serifS;
	margin:2px;
	border-radius:3px;
	height:50px;
	width:90px;
}
button:hover{
	background-color:white;

}
.screen{
	grid-column:1/-1;
	background-color: #333333;
	color:white;
	align-content:right;
	display:flex;
	align-items:flex-end;
	justify-content:space-around;
	flex-direction:column;
	padding:10px;
	margin:10px;
	height:100px;
	font-size:2rem;
}

.c-button{
	
}
.secret-button{
	visibility:hidden;
}


