*{
	margin:0;
	padding:0;
}
body{
	background-color:#9A1750;
	background-image:linear-gradient(to top right,#5D001E, transparent); /**reduce gradient banding by going to transparent and laying target colour underneath**/
	min-height:100vh;
		display:grid;
	justify-content:center;
	align-content:center;
	font-weight:bolder;
	font-family:sans-serif;

}

.container{
	display:grid;
	justify-content:center;
	align-content:center;
	grid-template-columns: repeat(4,60px);
	grid-template-rows: minmax(120px auto) repeat(5, 200px);
	height:72vh;
	/**width:50vh;**/
	border:5px solid #1e1f21;
	border-radius:3px;
	background-color: #2b2d2f;
	padding:10px;

}

button{
	outline:none;
	border:none;
	cursor:pointer;
	font-size:2rem;
	background-color:#f0f0f0;
	font-weight:bolder;
	margin:4px 2px;
	border-radius:3px;
	height:50px;
	width:50px;
	color:#1e1f21;

}
button:hover{
	background-color:white;

}
.screen{
	grid-column:1/-1;
	background-color: #f0f0f0;
	color:#1e1f21;
	align-content:right;
	display:flex;
	flex-direction:column;
	align-items:flex-end;
	justify-content:space-around;
	padding:10px;
	margin:10px 0px 10px 0px;
	height:80px;
	font-size:2rem;
	border-radius:3px;
}

.top-screen{
	font-size:1.7rem;
}

button.c{
	display:flex;
	align-items:center;
	justify-content: center;
	background-color:#ff4040;
	color:#f0f0f0;
	text-transform:uppercase;

}
button.equals{
	background-color:#f0f0f0;
	color:#1e1f21;
}
.secret-button{
	visibility:hidden;
}


